*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
.menu{
    background-color: black;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-transform: capitalize;
    background-color:white;
   
  
}
a{
    text-decoration: none;
    color: black;
}
.hr1{ 
    color: #ddd;
}
.computer{
    display: flex;
    width:vw ;
    height: 350px;
    justify-content: space-evenly;
}
.leka1{
    color: royalblue;
    font-size: 17px;
}
.leka2{
    color: black;
    font-size: 15px;
}

.leka3{
    color: red;
    font-size: 15px;
    text-decoration: underline;
   
}
.specification{
    height: 60px;
    /* background-color: yellow; */
    padding-left: 140px;
    padding-top: 20px;
    color: black;
    font-size: 18px;
    text-transform: capitalize;
    
}
.feature{
    height: 50px;
    width: 80%;
    /* display: flex;
    justify-content: center; */
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(219, 224, 248);
    color: royalblue;
    padding-left: 20px;
    padding-top: 15px;
    text-transform: capitalize;
}
.displaysizetype{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.hr2{
    color: #ddd;
}
.displaysizetype2{
    padding-bottom: 5px;
    /* font-family: Arial; */
   
}